	@font-face {
	    font-family: ArialBold;
	    src: url(../fonts/ArialBold.ttf);
	    src: url(../fonts/ArialBold.eot);
	    src: url(../fonts/ArialBold.woff);
	}
	@font-face {
	    font-family: ArialRegular;
	    src: url(../ArialRegular.ttf);
	    src: url(../ArialRegular.eot);
	    src: url(../ArialRegular.woff);
	}
	@font-face {
	    font-family: PTSansBold;
	    src: url(../fonts/PTSansBold.ttf);
	}