$light_yellow: #fffbc8;
$light_green: #b1e19b;
$light_blue: #ace2f8;
$dark_blue: #005da1;
$light-light_blue: #f2fbff;
$down_yellow: #fdd639;
$color_comments: #73b4d5;
$ant_gray: #f2f2f2;
$ant_font: #333333;
$ant_font_light: #808080;
$border: #cecabf;